@model List<s26web.Areas.shb.Models.MemberModel.UserLevelShow>

@{
    ViewBag.Title = "群組權限設定";
    int p = 1;
    if (ViewData["p"] != null)
    {
        p = (int)ViewData["p"];
    }

    string keyword = "";
    if (ViewData["keyword"] != null)
    {
        keyword = ViewData["keyword"] as string;
    }

    string err = "";
    if (TempData["err"] != null && TempData["err"] != "")
    {
        err = TempData["err"] as string;
    }

}
@Styles.Render("~/css/AdminMemberCategory")
@Scripts.Render("~/js/AdminContent")
@if (err != "")
{
    @: 操作失敗；錯誤代碼：@err。
}
else
{
    <div class="big_title">@Html.ActionLink("帳號管理", "/") > 群組權限設定</div>
    <div class="func_item">
        <ul>
            <li>@Html.ActionLink("新增", "CategoryCreate")</li>
        </ul>
    </div>
    <div class="showdata">
        <div>
            <ul class="title">
                <li class="item1">@Html.DisplayNameFor(model => model[0].Id)</li>
                <li class="item2">@Html.DisplayNameFor(model => model[0].Name)</li>
                <li class="item3">編輯</li>
                <li class="item4">刪除</li>
                <li class="item5">資料建立時間</li>
            </ul>
        </div>
        <div id="data_area">
            <form action="@s26web.Models.Method.RootPath/shb/Member/CategoryDelete" id="action" method="post">

                @foreach (var item in Model)
                {
                    <ul class="data">
                        <li class="item1">@Html.DisplayFor(modelItem => item.Id)</li>
                        <li class="item2">@Html.DisplayFor(modelItem => item.Name)</li>
                        <li class="item3">@Html.ActionLink("編輯", "CategoryEdit", new { id = item.Id, p = p })</li>
                        <li class="item4">@Html.ActionLink("刪除", "CategoryDelete", new { item = item.Id, p = p }, new { OnClick = "return confirm(\"確定要刪除?\")" })</li>
                        <li class="item5">@item.CreateTime.ToString("yyyy/MM/dd HH:mm:ss")</li>
                    </ul>
                }
            </form>
        </div>
        @Html.Partial("_PartialPage")
    </div>
}