@model s26web.Areas.shb.Models.MemberModel.LoginModel

@{
    ViewBag.Title = "登入";
}

@Styles.Render("~/css/AdminLogin")
<script>
    $(function () {
        $("#time_offset").val(new Date().getTimezoneOffset());
    });
</script>
<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    <fieldset>
        <legend>登入表單</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName, new { @class = "labelform" })
                @Html.TextBoxFor(m => m.UserName, new { @autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password, new { @class = "labelform" })
                @Html.PasswordFor(m => m.Password, new { @autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe, new { style = "margin-left: 40px;" })
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="hidden" id="time_offset" name="time_offset" value="0" />
        <input class="login_button" type="submit" value="登入" />
        <br />
        @if (TempData["err"] != null)
        {
            <label class="err">@TempData["err"].ToString()</label>
        }
    </fieldset>
    }
</section>